* {
    --main-color: #FF8008;
    --no-color: rgba(255, 255, 255, 0);
    --background: rgb(233, 233, 233);
    --standart-text: black;
    font-family: "Economica", sans-serif;
}

@font-face {
    font-family: "Economica", sans-serif;
    src: url(/assets/fonts/Economica-Regular.ttf);
}

body {
    background-color: var(--main-color);
    padding-right: 8px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 64px;
    background-color: var(--no-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

header img {
    height: 48px;
}

main {
    background-color: var(--background);
    display: flex;
    flex: 1;
}

.restaurant-menu {
    background-color: var(--background);
    flex: 1;
    max-width:  calc(100vw - 303px);
}

.restaurant-head {
    background-image: url(/img/restaurants/asia-gourmet-pavillon/header.avif);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.restaurant-head img {
    background-color: white;
    border-radius: 50%;
}

.restaurant-menu nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.116);
    overflow-x: auto;
}

.restaurant-menu a {
    display: block;
    color: var(--standart-text);
    padding: 8px;
    text-wrap: nowrap;
}

.restaurant-menu a:hover {
    background-color: rgba(0, 0, 0, 0.336);
}

.menucard {
    border: solid 1px black;
    margin: 8px;
    display: flex;
}

.menucard div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

.menucard h3 {
    margin: 0;
}

.menu-card-price {
    color: var(--main-color);
}

.menucard button {
    height: 32px;
    width: 32px;
    border: none;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    color: var(--main-color);
    font-size: 24px;
    cursor: pointer;
}

.menucard button:hover {
    color: #bb5d05;
}

.basket {
    background-color: var(--no-color);
    width: 280px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    clip-path: inset(0 0 0 -15px);
}

.basket section {
    position: sticky;
    top: 8px;
}

.basket-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0.199);
}

.basket-header h2 {
    margin: 12px;
}

.basket-item {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.basket-item h3 {
    margin: 0;
}

.basket-item div {
    display: flex;
    gap: 8px;
}

.basket-item button {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--no-color);
    border: none;
    cursor: pointer;
    color: var(--main-color);
    font-size: 24px;
    border: solid 2px;
    border-color: var(--no-color);
    border-radius: 50%;
}

.basket-item button:hover {
    border-color: var(--main-color);
}

.basket-price {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-count {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-sum {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
    border-top: solid 2px rgba(0, 0, 0, 0.199);
}

.basket-sum div {
    display: flex;
    justify-content: space-between;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder h3 {
    color: rgba(138, 138, 138, 0.548);
}

.placeholder>.fa-shopping-cart {
    font-size: 104px;
    color: rgba(138, 138, 138, 0.548);
}

footer {
    height: 64px;
    background-color: var(--no-color);
    display: flex;
}