* {
    --main-color: #FF8008;
    --no-color: rgba(255, 255, 255, 0);
    --background: rgb(233, 233, 233);
}

body {
    background-color: var(--main-color);
    padding-right: 8px;
    width: 100vw;
}

header {
    height: 64px;
    background-color: var(--no-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

header img {
    height: 48px;
}